[submodule "SimpleUI"]
	path = External/SimpleUI
	url = https://github.com/OSM-Made/SimpleUI
	shallow = true
[submodule "External/WpfHexEditorControl"]
	path = External/WpfHexEditorControl
	url = https://github.com/OSM-Made/WpfHexEditorControl
[submodule "Playstation/External/libSQLite-ps4"]
	path = Playstation/External/libSQLite-ps4
	url = https://github.com/bucanero/libSQLite-ps4
[submodule "External/SimpleUI"]
	path = External/SimpleUI
	url = https://github.com/OSM-Made/SimpleUI
