[submodule "SimpleUI"]
	path = External/SimpleUI
	url = https://github.com/OSM-Made/SimpleUI
	shallow = true
[submodule "External/WpfHexEditorControl"]
	path = External/WpfHexEditorControl
	url = https://github.com/OSM-Made/WpfHexEditorControl
[submodule "Playstation/External/libSQLite-ps4"]
	path = Playstation/External/libSQLite-ps4
	url = https://github.com/bucanero/libSQLite-ps4
[submodule "External/SimpleUI"]
	path = External/SimpleUI
	url = https://github.com/OSM-Made/SimpleUI
[submodule "Playstation/External/StubMaker"]
	path = Playstation/External/StubMaker
	url = https://github.com/OSM-Made/StubMaker
[submodule "Playstation/External/libUtils"]
	path = Playstation/External/libUtils
	url = https://github.com/AetherPS/libUtils
[submodule "Playstation/External/libFusionDriver"]
	path = Playstation/External/libFusionDriver
	url = https://github.com/AetherPS/libFusionDriver
[submodule "Playstation/External/libprotobuf"]
	path = Playstation/External/libprotobuf
	url = https://github.com/thejinchao/libprotobuf
