{
  "Regions": [
    {
      "Area": "Document",
      "Size": "0, 0",
      "Groups": [
        {
          "Contents": [
            "DisassemblyWindow",
            "MemoryWindow",
            "ScratchPadWindow"
          ]
        }
      ]
    },
    {
      "Area": "Left",
      "Size": "492, 811",
      "Groups": [
        {
          "Contents": [
            "CallStackWindow",
            "ProcessInfoWindow",
            "WatchpointWindow",
            "BreakpointWindow"
          ]
        },
        {
          "Contents": [
            "RegisterWindow"
          ]
        }
      ]
    },
    {
      "Area": "Right",
      "Size": "200, 100",
      "Groups": []
    },
    {
      "Area": "Bottom",
      "Size": "1006, 270",
      "Groups": [
        {
          "Contents": [
            "ConsoleWindow"
          ]
        }
      ]
    }
  ]
}