{
  "Regions": [
    {
      "Area": "Document",
      "Size": "0, 0",
      "Groups": [
        {
          "Contents": [
            "All_Output"
          ]
        }
      ]
    },
    {
      "Area": "Left",
      "Size": "200, 100",
      "Groups": []
    },
    {
      "Area": "Right",
      "Size": "200, 100",
      "Groups": []
    },
    {
      "Area": "Bottom",
      "Size": "200, 100",
      "Groups": []
    }
  ]
}