<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrbisLibraryManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OrbisLibraryManager.Properties.Settings>
            <setting name="SPRXPath" serializeAs="String">
                <value>/data/</value>
            </setting>
            <setting name="HideProcessBinaries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideSystemLibraries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastLoadPath" serializeAs="String">
                <value />
            </setting>
        </OrbisLibraryManager.Properties.Settings>
    </userSettings>
</configuration>