<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>

    <ComponentGroup Id="ProductComponents">

      <!-- AppData files -->
      <Component Id="ProgramData" Guid="{DE75F40B-1D98-414A-8574-99EF6FE1A20C}" Directory="InstallProgramDataFolder" >
        
        <!--Install Dependeces-->
        <File Id="OrbisLibCPP" Name="OrbisLibCPP.dll" Source="$(var.ProjectDir)Assets\Program Data\" />
        <File Id="OrbisWindowsServiceLib" Name="OrbisWindowsServiceLib.dll" Source="$(var.ProjectDir)Assets\Program Data\" />
        <File Id="make_fself" Name="make_fself.py" Source="$(var.ProjectDir)Assets\Program Data\" />

        <!--Install Default Database-->
        <File Id="Database" Name="OrbisSuiteUserData" Source="$(var.ProjectDir)Assets\Program Data\" />
        <File Id="DebuggerConfig" Name="OrbisDebugger.config" Source="$(var.ProjectDir)Assets\Program Data\" />
        <File Id="OrbisOutput" Name="OrbisOutput.config" Source="$(var.ProjectDir)Assets\Program Data\" />

        <!--Install Payloads-->
        <!-- <File Id="Payload176" Name="OrbisLib-176.bin" Source="$(var.ProjectDir)Assets\Program Data\" /> -->
        <!-- <File Id="Payload405" Name="OrbisLib-405.bin" Source="$(var.ProjectDir)Assets\Program Data\" /> -->
        <!-- <File Id="Payload455" Name="OrbisLib-455.bin" Source="$(var.ProjectDir)Assets\Program Data\" /> -->
        <File Id="Payload505" Name="OrbisLib-505.bin" Source="$(var.ProjectDir)Assets\Program Data\" />
        <File Id="Payload672" Name="OrbisLib-672.bin" Source="$(var.ProjectDir)Assets\Program Data\" />
        <!-- <File Id="Payload702" Name="OrbisLib-702.bin" Source="$(var.ProjectDir)Assets\Program Data\" /> -->
        
      </Component>
      
      
      <Component Id="ProgramFiles" Guid="{0FE299B0-EE20-4E20-AEA7-50B138D46958}" Directory="INSTALLFOLDER">

        <!--Install exes -->
        <File Id="OrbisTaskbarApp" Name="OrbisTaskbarApp.exe" Source="$(var.ProjectDir)Assets\Program Files x64\" />
        <File Id="OrbisModuleManager" Name="OrbisModuleManager.exe"  Source="$(var.ProjectDir)Assets\Program Files x64\" />
        <File Id="OrbisTargetSettings" Name="OrbisTargetSettings.exe"  Source="$(var.ProjectDir)Assets\Program Files x64\" />
        <File Id="OrbisNeighborhood" Name="OrbisNeighborhood.exe"  Source="$(var.ProjectDir)Assets\Program Files x64\" />
        <File Id="OrbisDebugger" Name="OrbisDebugger.exe"  Source="$(var.ProjectDir)Assets\Program Files x64\" />
        <File Id="OrbisSPRXHelper" Name="OrbisSPRXHelper.exe"  Source="$(var.ProjectDir)Assets\Program Files x64\" />
        <File Id="OrbisConsoleOutput" Name="OrbisConsoleOutput.exe"  Source="$(var.ProjectDir)Assets\Program Files x64\" />

        <!-- Add Reference dll -->
        <File Id="OrbisLib" Name="OrbisLib.dll" Source="$(var.ProjectDir)\Assets\Program Files x64\" />
        
        
        
        <!--Remove items -->
        <RemoveFolder Id="RemoveStartMenuFiles" Directory="InstallProgramMenuFolder" On="uninstall" />
        <RemoveFolder Id="RemoveProgramDataFiles" Directory="InstallProgramDataFolder" On="uninstall" />
        <RemoveFolder Id="RemoveProgramFiles" Directory="INSTALLFOLDER" On="uninstall" />
        
      </Component>

      <Component Id="StartMenuFiles" Guid="{0FE299B0-EE20-4E20-AEA7-50B585486958}" Directory="INSTALLFOLDER">
        <!-- Install Shortcuts to the start menu. -->
        <Shortcut Id="OrbisTaskbarAppShortcut"
                  Name="Orbis Taskbar App"
                  Target="[INSTALLFOLDER]OrbisTaskbarApp.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="OrbisTaskbarApp.ico"
                  />

        <Shortcut Id="OrbisModuleManagerShortcut"
                  Name="Orbis Module Manager"
                  Target="[INSTALLFOLDER]OrbisModuleManager.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="OrbisModuleManager.ico"
                  />

        <Shortcut Id="OrbisTargetSettingsShortcut"
                  Name="Orbis Target Settings"
                  Target="[INSTALLFOLDER]OrbisTargetSettings.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="OrbisTargetSettings.ico"
                  />

        <Shortcut Id="OrbisNeighborhoodShortcut"
                  Name="Orbis Neighborhood"
                  Target="[INSTALLFOLDER]OrbisNeighborhood.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="OrbisNeighborhood.ico"
                  />

        <Shortcut Id="OrbisConsoleOutputShortcut"
                  Name="Orbis ConsoleOutput"
                  Target="[INSTALLFOLDER]OrbisConsoleOutput.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="OrbisConsoleOutput.ico"
                  />

        <Shortcut Id="OrbisDebugger"
                  Name="Orbis Debugger"
                  Target="[INSTALLFOLDER]OrbisDebugger.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="OrbisDebugger.ico"
                  />

        <!-- Our unique key for this component/shortcut -->
        <RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductNameFolder)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />
        
      </Component>
      
      <!-- Install Windows Service. -->
      <Component Id="InstallService" Guid="{0FE299B0-EE20-4E20-AEA7-456438D46958}" Directory="INSTALLFOLDER" >
        <File Id="MyService.exe"
              Name="OrbisSuiteService.exe"
              Source="$(var.ProjectDir)\Assets\Program Files x64\OrbisSuiteService.exe"
              Vital="yes"
              KeyPath="yes"/>

        <ServiceInstall Id="ServiceInstaller"
                        Type="ownProcess"
                        Vital="yes"
                        Name="OrbisSuiteService"
                        DisplayName="Orbis Suite Service"
                        Description="Monitoring/Managing the Orbis Suite Database and Target communication."
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="ignore">

          <util:ServiceConfig
          FirstFailureActionType='restart'
          SecondFailureActionType='restart'
          ThirdFailureActionType='restart'
          RestartServiceDelayInSeconds='30'
          ResetPeriodInDays='1'/>
          
        </ServiceInstall>
        <ServiceControl Id="Service_Start" Name="OrbisSuiteService" Start="install" Wait="no" />
        <ServiceControl Id="Service_Stop" Name="OrbisSuiteService"  Stop="both" Remove="uninstall" Wait="yes" />
      </Component>
      
    </ComponentGroup>

  </Fragment>

</Wix>
