<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Fixed upgrade Id -->
  <?define UpgradeCode = "{241A7827-46FD-4580-B11A-0FC5C2CAAABB}" ?>

  <!-- Define main product -->
  <Product
    Id="*"
    Name="!(loc.ProductName_$(var.Platform))"
    Language="!(loc.Language)"
    Version="$(var.BuildVersion)"
    Manufacturer="!(loc.Company)"
    UpgradeCode="$(var.UpgradeCode)">

    <!-- Provide package details -->
    <Package
      InstallerVersion="405"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="x64"
      Manufacturer="!(loc.Company)"
      Description="!(loc.Description)"
      Keywords="!(loc.Keywords)"
      Comments="!(loc.Comments)"
      Languages="!(loc.Language)"
      
      />

    <!-- Downgrade error message -->
    <MajorUpgrade Schedule="afterInstallInitialize" AllowSameVersionUpgrades="yes" DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

    <!-- Include .cab file into .msi file -->
    <MediaTemplate
      EmbedCab="yes"
      />

    <!-- Define main app icon -->
    <Icon Id="OrbisTaskbarApp.ico" SourceFile="$(var.ProjectDir)Assets\OrbisTaskbarApp.ico" />

    <!--Define icons-->
    <Icon Id="OrbisModuleManager.ico" SourceFile="$(var.ProjectDir)Assets\OrbisModuleManager.ico" />
    <Icon Id="OrbisTargetSettings.ico" SourceFile="$(var.ProjectDir)Assets\OrbisTargetSettings.ico" />
    <Icon Id="OrbisNeighborhood.ico" SourceFile="$(var.ProjectDir)Assets\OrbisNeighborhood.ico" />
    <Icon Id="OrbisConsoleOutput.ico" SourceFile="$(var.ProjectDir)Assets\OrbisConsoleOutput.ico" />
    <Icon Id="OrbisDebugger.ico" SourceFile="$(var.ProjectDir)Assets\OrbisDebugger.ico" />

    <!-- Use the icon.ico icon for this installer (shows up in Add/Remove programs) -->
    <Property Id="ARPPRODUCTICON">OrbisTaskbarApp.ico</Property>

    <!-- Help/Support website (shows in the Add/Remove programs) -->
    <Property Id="ARPURLINFOABOUT">http://www.github.com/OSM-Made</Property>

    <!-- Create a basic UI for the installer -->
    <UIRef Id="WixUI_Minimal" />

    <!-- Change the installer UI background images -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp" />

    <!-- Define components, shortcuts, files etc... for installer -->
    <Feature Id="ProductFeature" Title="Orbis Suite" Level="1">

      <ComponentGroupRef Id="ProductComponents" />

    </Feature>

  </Product>

</Wix>
